<!DOCTYPE html>
<html>
<div th:replace="~{fragments/navbar}"></div>
<!-- Custom fonts for this template-->
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/Logo.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<link
 href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
 rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

                <style>
                     .container-fluid {
            max-width: 800px; /* Defina a largura máxima do container */
            margin: 150px auto; /* Adicione margens superior e inferior automaticamente */
            padding: 0 15px; /* Adicione preenchimento horizontal */
        }

                </style>

<style>
  .swal2-title {
    color: #bf8b15 !important; /* Cor do título */
  }
  .swal2-content {
    color: #000 !important; /* Cor do texto */
  }
  .swal2-confirm.swal2-styled {
    background-color: #bf8b15;
    color: #fff; /* Cor do texto nos botões */
  }
  .swal2-cancel.swal2-styled{
    background-color: #ff0000;
    color: #fff; /* Cor do texto nos botões */
  }
  .swal2-shown.swal2-height-auto {
    background-color: rgba(0, 0, 0, 0.01); /* Define a cor de fundo desejada com transparência */
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,0.02);
}

</style>
                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding-top: 70px; ">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Funcionários</h1>
                    
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" >
                        <div class="card-header py-3" >
                            <a href="/gerenciar/funcionarios/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de funcionários</h6> 
                        </div>
                        <div class="card-body" style="padding-left: 1rem; ">
                            <div class="table-responsive" style="overflow-x: hidden; ">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Cargo</th>
                                            <th>Email</th>
                                            <th>Senha</th>
                                            <th>Admin</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Cargo</th>
                                            <th>Email</th>
                                            <th>Senha</th>
                                            <th>Admin</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="funcionario: ${funcionarios}">
                                            <td th:text="${funcionario.id}" />
                                            <td th:text="${funcionario.nome}" />
                                            <td th:text="${funcionario.cargo}" />
                                            <td th:text="${funcionario.email}" />
                                            <td th:text="${funcionario.senha}" />
                                            <td th:text="${funcionario.admin}"/>
                                            <td>
                                                <a class="edit" th:href="@{'/gerenciar/funcionarios/' + ${funcionario.id}}" >
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="delete" href="#" th:href="@{'/gerenciar/funcionarios/' + ${funcionario.id} + '/excluir'}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                                </td>
                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <script>
                  document.getElementById('cadastroForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Impede o envio padrão do formulário

    // Exibe uma caixa de diálogo personalizada
    Swal.fire({
        title: 'Tem certeza que deseja cadastrar novo admin?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Cadastrar',
        cancelButtonText: 'Cancelar',
        iconColor: '#bf8b15'
    }).then((result) => {
        // Se o usuário confirmar, envia o formulário via AJAX
        if (result.isConfirmed) {
            enviarFormulario(); // Função para enviar o formulário
        }
    });
});

function enviarFormulario() {
    var form = document.getElementById('cadastroForm');
    var formData = new FormData(form);

    // Envia o formulário via AJAX
    fetch(form.action, {
        method: form.method,
        body: formData
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url; // Redireciona se necessário
        }
    })
    .catch(error => console.error('Erro:', error));
}


                </script>
</html>
                <!-- /.container-fluid -->
                <div th:replace="~{fragments/footer}"></div>