<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Barbearia GS</title>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 300px;
        }
    </style>
    <!-- Seus estilos CSS -->
</head>

<body>
    <div th:insert="~{fragments/navbar}"></div>

    <div class="container-fluid center-content">
        <h1 style="margin-bottom: 30px;">Agenda</h1>

        <div class="container">
          <h4 style="margin-top: 30px;">Selecione a Data</h4>
          <input type="date" id="dataSelecionada" onchange="buscarAgendamentos()">
          <h4 style="margin-top: 30px;">Agendamentos para a Data Selecionada</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Cliente</th>
                        <th>Serviço</th>
                    </tr>
                </thead>
                <tbody>
                 
                  <tr th:each="agendamento : ${agendamentos}">
                      <td th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')}"></td>
                      <td th:text="${agendamento.horario.horario}"></td>
                      <td th:text="${agendamento.cliente.nome}"></td>
                      <td th:text="${agendamento.servico.nome}"></td>
                      <td>
                          <a class="delete" href="#" th:href="@{'/funcionarios/' + ${agendamento.id} + '/desmarcar'}" onclick="desmarcarHorario(event)">
                              <button class="btn btn-danger">Desmarcar</button>
                          </a>
                      </td>
                  </tr>
              </tbody>
            </table>
        </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/js/agendaFuncionario.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/password-eye.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/sweet-alert.js"></script>
   

 <!-- Bootstrap core JavaScript-->
 <script src="/vendor/jquery/jquery.min.js"></script>
 <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
 <!-- Core plugin JavaScript-->
 <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
 
 <!-- Custom scripts for all pages-->
 <script src="/js/sb-admin-2.js"></script>
 
 
 <!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js"></script>
</body>

</html>