<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Barbearia GS</title>
     <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
  <header class="header">
    <div class="header-content">
    <nav class="nav">
      <h2>Barbearia GS</h2>
      <div class="centralizar">
      <ul class="list">
        <li>
          <a href="/">Home</a>
        </li>
    
      </ul>
    </div>
    
    </nav>
    <div class="botao-container">
    <button class="botao">Agendar</button>
  </div>
</div>
  </header>
</body>
</html>



<div th:replace="~{fragments/footer}"></div>