<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Barbearia GS</title>
     <link rel="stylesheet" href="../css/navbar.css">
     <link rel="stylesheet" href="../css/Logo.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
     <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
     <style>
.swal2-title {
    color: #bf8b15 !important; /* Cor do título */
  }
  .swal2-content {
    color: #000 !important; /* Cor do texto */
  }
  .swal2-confirm.swal2-styled {
    background-color: #bf8b15;
    color: #fff; /* Cor do texto nos botões */
  }

  .swal2-cancel.swal2-styled{
    background-color: #ff0000;
    color: #fff; /* Cor do texto nos botões */
  }

     </style>
</head>
<body>
  <header class="header">
    <div class="header-content">
    <nav class="nav">
      <img src="/img/Logo.png" alt="Barbearia GS Logo" class="logo">
      <div class="centralizar">
      <ul class="list">
        <li>
          <a href="/" class="personalizado">Home</a>
        </li>
    
      </ul>
    </div>
    
    </nav>
    <div class="botao-container">
    <button class="botao">Agendar</button>
  </div>

  <div class="sair-container">
    <button class="botaoSair" onclick="confirmarSair()">
      <img src="/img/sair.png" alt="Ícone de saída" class="icone-sair">
  
  </button>
</div>

<script>
function confirmarSair() {
    // Exibe uma caixa de diálogo personalizada
    Swal.fire({
        title: 'Tem certeza que deseja sair?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Sair',
        cancelButtonText: 'Cancelar',
        iconColor: '#bf8b15'
    }).then((result) => {
        // Se o usuário clicar em "Sim", exclui o cookie e redireciona para a rota de logout
        if (result.isConfirmed) {
            document.cookie = "usuarioId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/sair";
        }
    });
}
</script>
</div>
  </header>
</body>
</html>


<div th:replace="~{fragments/footer}"></div>