<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
  <footer class="footer">
    <div class="footerColumns flex">
      <div class="footerColumn footerColumn1">
        <h3 class="footerTitle">Fale Conosco</h3>
        <ul class="footerList">
          <li>
            <a href="mailto:contato@exemplo.com">contato@exemplo.com</a>
          </li>
          <li>(xx) xxxx-xxxx</li>
          <li>Minas Gerais, Brasil</li>
        </ul>
      </div>
      <div class="footerColumn footerColumn2">
        <h3 class="footerTitle">Políticas</h3>
        <ul class="footerList">
          <li>
            <a href="/politica-de-privacidade">Política de Privacidade</a>
          </li>
          <li>
            <a href="/politica-de-aulas-e-pagamentos">
              Política de aulas e pagamentos
            </a>
          </li>
        </ul>
      </div>
      <div class="footerColumn footerColumn3">
        <h3 class="footerTitle3">Sobre Nós</h3>
        <p class="footerDescription">
          TEXTO DE TESTE Somos um site destinado a conectar aluno e personal trainers. bla bla bla
        </p>
      </div>
    </div>
  </footer>
</body>
</html>