*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Work-Sans', sans-serif;
 
}

.footer{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3rem;
  background: #1a242f;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
}

.log{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.log:hover{
  transform: translateY(-20px)
}

.log:hover{
  transition: all .80s ease;
  color: #d6d6d6;
}

section{
  padding: 40px 13%  40px; 
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.footer-content h4:hover{
  color: #89caff;
  cursor: pointer;
  transition: all .40s ease;
}

.footer-content h4:hover{
  transform: translateY(-8px)
  
    }

p:hover{
  transform: translateY(-6px)
  
}

p:hover{
  transition: all .40s ease;
 
}


.md:hover{
  color: #89caff;
}

.footer-content li{
  margin-bottom: 16px;
}

.footer-content li a{
  display: block;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}

.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #89caff;
}

.footer-content p{
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
}

.icons a {
  display: inline-block;
  font-size: 22px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all .40s ease;
}

.icons a:hover{
  color: #89caff;
  transform: translateY(-5px);
}

@media (max-width:1690px){
  section{
      padding: 50px 5% 40px;
  }
}

@media (max-width:1120px){
  .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2rem;
  }
}

@media (max-width:700px){
  .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
      gap: 2.5rem;
  }
}*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Work-Sans', sans-serif;
 
}

.footer{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3rem;
  background: #1a242f;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
}

.log{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.log:hover{
  transform: translateY(-20px)
}

.log:hover{
  transition: all .80s ease;
  color: #d6d6d6;
}

section{
  padding: 40px 13%  40px; 
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.footer-content h4:hover{
  color: #89caff;
  cursor: pointer;
  transition: all .40s ease;
}

.footer-content h4:hover{
  transform: translateY(-8px)
  
    }

p:hover{
  transform: translateY(-6px)
  
}

p:hover{
  transition: all .40s ease;
 
}


.md:hover{
  color: #89caff;
}

.footer-content li{
  margin-bottom: 16px;
}

.footer-content li a{
  display: block;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}

.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #89caff;
}

.footer-content p{
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
}

.icons a {
  display: inline-block;
  font-size: 22px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all .40s ease;
}

.icons a:hover{
  color: #89caff;
  transform: translateY(-5px);
}

@media (max-width:1690px){
  section{
      padding: 50px 5% 40px;
  }
}

@media (max-width:1120px){
  .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2rem;
  }
}

@media (max-width:700px){
  .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
      gap: 2.5rem;
  }
}