
.header {

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adicione um preenchimento interno */
  }
  
  .raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.nav {

    margin-top: 0;
    display: flex;
    max-width: max-content;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    z-index: 9999;
    
  }
  
.list {
    display:flex;
    max-width: max-content;
    gap: 1rem;
    background-color: #ffffff;
    padding-top: 30px;
    justify-content: center; /* Centralizar os itens horizontalmente */
    align-items: center; /* Centralizar os itens verticalmente */

  }

.centralizar{
  position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);
justify-content: center; /* Centralizar os itens horizontalmente */
align-items: center; /* Centralizar os itens verticalmente */
}

.botao-container {
  margin-left:auto; /* Move o container do botão para a direita */
  margin-right: 50px;
  margin-top: -20px;
}

.botao{
  margin-right: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 45px;
  border: none;
  border-radius:5cm;
  background-color: #bf8b15;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #000000;
}

.botao:hover{
  transform: scale(1.05);
}


.botaoSair {
  display: flex; /* Use flexbox para alinhar o texto e o ícone */
  align-items: center; /* Centralize os itens verticalmente */
  justify-content: center; /* Centralize os itens horizontalmente */
  width: 0px; 
  height: 45px;
  border: none;
  border-radius: 5cm;
  background-color: #ffffff; /* Cor de fundo vermelha */
  color: #ffffff; /* Cor do texto */
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #ffffff;
  margin-right: 25px;
  
}

.botaoSair:hover {
  transform: scale(1.05);
}

.icone-sair {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  
  
}
  
.list .personalizado {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0px 25px 10px 0px;
    position: relative;
    
  }

.list .personalizado::after{
  content: "";
  width: 0%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  position:absolute;
  bottom:0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.list .personalizado:hover::after {
  width: 100%;

}

.sair-container {
  margin-top: -20px;
}
  

  ul{
    align-items: center; /* Centralizar os itens verticalmente */
    justify-content: center; /* Centralizar os itens horizontalmente */

  }

ul li {
    list-style-type: none;
    padding: 0.5rem 2rem ;
    margin-bottom: 0px;
    font-size: 20px;
    margin-top: -20px;

  }
  